{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "bracketSameLine": true,
    "printWidth": 170,
    "singleAttributePerLine": true,
    "endOfLine": "lf"
}
